<h1>New Cocktails</h1>
<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
<%= link_to "All Cocktails", cocktails_path, class: "btn btn-primary"%>
