<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
  <div>
    <%= dose.description %> <br>
    <%= dose.ingredient.name %>
    <%= link_to "Delete dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} %>
  </div>
<% end %>

<h3><%= @dose.id %></h3>


<%= link_to "Back to all cocktails", cocktails_path %>
<%= link_to "Edit cocktail", edit_cocktail_path %>
<%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?"} %>
